@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important; 
  }
  

.input-felid {
    @apply block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6
}


.form-button {
    @apply flex w-full justify-center items-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
}

.loading-overlay::before {
    content: "";
    @apply absolute w-full h-full top-0 left-0 rounded-xl;
    
    background: linear-gradient(135deg, #ffffff 5%, #ebebeb 60%, #ffffff 90%);
    background-size: 200% 100%;
    animation: gradientShift .75s linear infinite;
}

@keyframes gradientShift {
    0% {
        background-position: -100% 100%;
    }
    100% {
        background-position: 100% 100%;
    }
}